@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
    background-image: url("../images/backgroundgauss.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

hedaer {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

header ul {
    margin: 0 auto;
    padding-bottom: calc(100vh - (100vh / 2 - 200px));
    padding-top: calc(100vh / 2 - 200px);
    text-align: center;
}

header ul li {
    display: inline-block;
}

header ul #title {
    font-size: 200px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 1px black;
}

header ul #subTitle {
    font-size: 40px;
    text-align: left;
    line-height: 1;
    color: white;
    opacity: 0.5;
}

#wrapper {
    width: 90%;
    max-width: 730px;
    margin: 0 auto;
    padding: 0;
}

#chat_bord ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

#chat_bord ul li {
    font-size: 16px;
    width: 70vh;
    margin-top: 5px;
    margin-bottom: 5px;

}

#chat_bord ul li:last-child {
    margin-bottom: 0;
}

.user {
    float: right;
    color: white;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 5px;
}

.user:hover {
    background-color: rgba(0,0,0,0.05);
}

.user p {
    text-align: left;
    margin: 10px 0 0 64px;
    font-size: 14px
}

.user i {
    padding: 10px;
    padding-bottom: 0px;
    font-size: 40px;
    color: white;
    text-align: left;
}

.user .time {
    font-size: smaller;
    text-align: right;
}

.bot {
    float: left;
    color: white;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 5px;
}

.bot:hover {
    background-color: rgba(0,0,0,0.05);
}

.bot p {
    text-align: left;
    margin: 10px 0 0 64px;
    font-size: 14px
}

.bot i {
    padding: 5px;
    padding-bottom: 0px;
    font-size: 40px;
    color: white;
    text-align: left;
}

.bot .time {
    font-size: smaller;
    text-align: right;
}

#wrapper #text_input {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translateY(-100%) translateX(-50%);
    -webkit-transform: translateY(-100%) translateX(-50%);
    opacity: 0.5;
}

#text_input form {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
} 

.text {
    width: 25%;
    height: 26px;
}

.submit {
    height: 26px;
}

.submit:hover {
    opacity: 0.8;
}

footer {
    overflow: hidden;
    clear: both;
    margin: 0 auto;
    padding: 0;
    height: 46px;
}

@media screen and (max-width : 768px){
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 0;
        background-image: url("../images/backgroundsmafogauss.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    header,
    #wrapper,
    footer {
        width: 100%;
    }

    header ul {
        padding: 0;
        padding-bottom: calc(100vh - (100vh / 2 - 90px));
        padding-top: calc(100vh / 2 - 40px - 40px);
    }
    
    header ul li {
        display: block;
    }
    
    header ul #title {
        font-size: 90px;
        color: white;
        opacity: 0.7;
        text-shadow: 1px 1px 1px rgb(253, 253, 253);
        text-align: center;
    }
    
    header ul #subTitle {
        font-size: 40px;
        color: white;
        opacity: 0.5;
        text-align: center;
    }

    #wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    
    #chat_bord ul {
        width: 90%;
        padding: 0;
        list-style-type: none;
    }
    
    #chat_bord ul li {
        font-size: 16px;
        margin: 0;
        width: 100%;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    
    #chat_bord ul li:last-child {
        margin-bottom: 0;
    }
    
    .user {
        color: white;
        border: 1px solid rgba(0,0,0,0.5);
        padding: 5px;
        margin: 0 auto;
    }
    
    .user:hover {
        background-color: rgba(0,0,0,0.05);
    }
    
    .user p {
        text-align: left;
        margin: 0;
        font-size: 14px;
        margin: 10px 0 0 10px;
        text-indent: 1em;
    }
    
    .user i {
        padding: 10px;
        padding-bottom: 0px;
        font-size: 40px;
        color: white;
        text-align: left;
    }
    
    .user .time {
        font-size: smaller;
        text-align: right;
    }
    
    .bot {
        color: white;
        border: 1px solid rgba(0,0,0,0.5);
        padding: 5px;
        margin: 0 auto;
    }
    
    .bot:hover {
        background-color: rgba(0,0,0,0.05);
    }
    
    .bot p {
        text-align: left;
        margin: 0;
        font-size: 14px;
        margin: 10px 0 0 10px;
        text-indent: 1em;
    }
    
    .bot i {
        padding: 10px;
        padding-bottom: 0px;
        font-size: 40px;
        color: white;
        text-align: left;
    }
    
    .bot .time {
        font-size: smaller;
        text-align: right;
    }
    
    #wrapper #text_input {
        width: 100%;
        background-color: black;
        position: fixed;
        top: 100%;
        left: 50%;
        transform: translateY(-100%) translateX(-50%);
        -webkit-transform: translateY(-100%) translateX(-50%);
        opacity: 0.5;
    }
    
    #text_input form {
        text-align: center;
        padding: 10px;
    } 
    
    .text {
        width: 60%;
        height: 26px;
    }
    
    .submit {
        height: 26px;
    }
    
    .submit:hover {
        opacity: 0.8;
    }
    
    footer {
        overflow: hidden;
        clear: both;
        padding: 0;
        height: 46px;
    }
}